/*Global Colors for later
262828
cfe1f6
807a76
adadaa
3d4040
b3b2ae

*/
/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Bebas Neue", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #262828; /* Dark Grey */
    --secondary-color: #b59063; /* Light Brown  */
    --sub-color: #b3b2ae; /* Light Grey */
}
.check {

    border: 1px solid black;
    height: 33%;
}
/* Global Styles */

body {
    font-family: var(--secondary-font);
}

h1, h2, h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.1rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 120px;
}

#navbar .nav-text {
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}
/* Header */



#header #hero {
    max-width: 100%;
    padding: 2% 1%;
    object-fit: cover;

}

/* Service Section */

#service {
    border-radius: 10px;
}

#service #service-title {
    padding: 10px;
}

#opening-times {
    background-color: var(--primary-color);
    text-align: center;

}
#opening-times h1 {
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
#opening-times p {
    color: var(--sub-color);
}
#opening-times li {
    background-color: var(--primary-color);
}

#service .card-title {
    color: var(--secondary-color);
    text-align: center;
}

#service .service-card {
    height: 100%;
    
}

#service .service-text {
    color: var(--primary-color);
}
/* Grid Visualisation 

.container .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}*/